* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: green;
  }
  
  .content {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .content h2 {
    color: #000;
    background-color: aqua;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }
  
  .content h2:hover {
    color: #fff;
    background-color: rgb(21, 21, 21);
    border-radius: 50%;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
  